apiVersion: v1
kind: Secret
metadata:
  name: registry-secret
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: eyJhdXRocyI6eyJ6b3Quam82ci54eXoiOnsidXNlcm5hbWUiOiJ6b3QiLCJwYXNzd29yZCI6InpvdC1sYWItcmVnaXN0cnktMjAyNiIsImF1dGgiOiJlbTkwT25wdmRDMXNZV0l0Y21WbmFYTjBjbmt0TWpBeU5nPT0ifX19
